html.title-page .widget-12 { background-image: linear-gradient(rgb(246, 150, 121), rgba(246, 150, 121, 0.7)), url("../images/bottomimg3.png"), linear-gradient(rgb(246, 150, 121) 33%, rgb(246, 150, 121) 33%); }
html.title-page .blocklist-23 .image { background-image: url("./5b712c685d18778f0fff18d4edf91e39.svg"); }
html.title-page .editable_block-22 .header { color: rgb(181, 80, 59); }
html.title-page .editable_block-22 .title { color: rgb(246, 150, 121); }
html.title-page .block-3 { background-image: linear-gradient(to right, rgb(181, 80, 59) 20%, rgb(255, 255, 255) 20%); }
html.title-page .block-4 { background-color: rgb(255, 255, 255); }
html.title-page .widget-3 { color: rgb(181, 80, 59); }
html.title-page .site-name-3 .sn-text { color: rgb(181, 80, 59); }
html.title-page .menu-5 .menu-scroll > ul ul { background-color: rgb(181, 80, 59); }
html.title-page .menu-5 .menu-scroll > ul > li.menu-item > a { color: rgb(181, 80, 59); }
html.title-page .menu-5 .menu-scroll > ul > li.menu-item > a:hover { background-color: rgb(181, 80, 59); }
html.title-page .menu-5 .menu-scroll > ul > li.menu-item > a.hover { background-color: rgb(181, 80, 59); }
html.title-page .menu-5 .menu-scroll > ul > li.more-button > a { background-color: rgb(181, 80, 59); }
html.title-page .phones-13 .icon { background-color: rgb(246, 150, 121); }
html.title-page .phones-13 .text_body { color: rgb(246, 150, 121); }
html.title-page .popover-wrap-9 .popover-body { background-color: rgb(246, 150, 121); }
html.title-page .popover-wrap-9 .popover-body .s3_button_large { background-color: rgb(181, 80, 59); }
html.title-page .popover-wrap-9 .popover-close { box-shadow: rgb(181, 80, 59) 0px 0px 0px 5px; }
html.title-page .editable_block-9 .header { color: rgb(181, 80, 59); }
html.title-page .editable_block-9 .title { color: rgb(246, 150, 121); }
html.title-page .editable_block-9 .more > a { background-color: rgb(246, 150, 121); }
html.title-page .popover-wrap-9 ::-webkit-input-placeholder { color: rgb(181, 80, 59); }
html.title-page .widget-33 { box-shadow: rgb(246, 150, 121) -1px 0px 0px inset; }
html.title-page .editable_block-55 .header { color: rgb(181, 80, 59); }
html.title-page .editable_block-55 .title { color: rgb(181, 80, 59); }
html.title-page .popover-wrap-54 .popover-body { background-color: rgb(246, 150, 121); }
html.title-page .popover-wrap-54 .popover-body .s3_button_large { background-color: rgb(181, 80, 59); }
html.title-page .popover-wrap-54 .popover-close { box-shadow: rgb(181, 80, 59) 0px 0px 0px 5px; }
html.title-page .blocklist-54 .item { box-shadow: rgba(246, 150, 121, 0.1) 0px 5px 20px; }
html.title-page .blocklist-54 .image { border-top-color: rgb(181, 80, 59); }
html.title-page .blocklist-54 .image { border-right-color: rgb(181, 80, 59); }
html.title-page .blocklist-54 .image { border-bottom-color: rgb(181, 80, 59); }
html.title-page .blocklist-54 .image { border-left-color: rgb(181, 80, 59); }
html.title-page .blocklist-54 .image { background-image: url("./5b712c685d18778f0fff18d4edf91e39.svg"); }
html.title-page .blocklist-54 .title { color: rgb(181, 80, 59); }
html.title-page .blocklist-54 .more > a { background-color: rgb(181, 80, 59); }
html.title-page .popover-wrap-54 ::-webkit-input-placeholder { color: rgb(181, 80, 59); }
html.title-page .block-39 { box-shadow: rgba(246, 150, 121, 0.1) 0px 5px 20px; }
html.title-page .editable_block-67 .header { color: rgb(181, 80, 59); }
html.title-page .editable_block-67 .title { color: rgb(181, 80, 59); }
html.title-page .widget-37 { background-image: linear-gradient(rgba(246, 150, 121, 0.6), rgba(246, 150, 121, 0.6)), url("../images/bottomimg1.png"), repeating-linear-gradient(to right bottom, rgb(246, 150, 121) 0%, rgb(246, 150, 121) 100%); }
html.title-page .form-64 .form-submit button { background-color: rgb(181, 80, 59); }
html.title-page .form-64 ::-webkit-input-placeholder { color: rgb(181, 80, 59); }
html.title-page .editable_block-62 .header { color: rgb(255, 255, 255); }
html.title-page .editable_block-62 .title { color: rgb(255, 255, 255); }
html.title-page .editable_block-62 .text { color: rgb(232, 232, 232); }
html.title-page .editable_block-62 .more > a { background-color: rgb(181, 80, 59); }
html.title-page .widget-39 { box-shadow: rgb(181, 80, 59) -1px 0px 0px inset; }
html.title-page .editable_block-71 .header { color: rgb(181, 80, 59); }
html.title-page .editable_block-71 .title { color: rgb(181, 80, 59); }
html.title-page .blocklist-35 .item { box-shadow: rgba(246, 150, 121, 0.1) 0px 5px 20px; }
html.title-page .block-22 { background-image: url("../images/bottomimg.png"), linear-gradient(rgb(246, 150, 121), rgb(181, 80, 59)); }
html.title-page .widget-25 { box-shadow: rgba(246, 150, 121, 0.1) 0px -5px 20px; }
html.title-page .menu-51 .menu-scroll > ul > li.menu-item > a { color: rgb(181, 80, 59); }
html.title-page .menu-51 .menu-scroll > ul > li.menu-item > a:hover { background-color: rgb(246, 150, 121); }
html.title-page .up-40 .icon { background-image: url("./bd88118d6771538f8d8a95c078cbb088.svg"); }
html.title-page .up-40 .icon:hover { background-color: rgb(181, 80, 59); }
html.title-page .widget-41 { box-shadow: rgb(246, 150, 121) -1px 0px 0px inset; }
html.title-page .editable_block-74 .header { color: rgb(181, 80, 59); }
html.title-page .editable_block-74 .title { color: rgb(181, 80, 59); }
html.title-page .blocklist-38 .image { border-top-color: rgb(246, 150, 121); }
html.title-page .blocklist-38 .image { border-right-color: rgb(246, 150, 121); }
html.title-page .blocklist-38 .image { border-bottom-color: rgb(246, 150, 121); }
html.title-page .blocklist-38 .image { border-left-color: rgb(246, 150, 121); }
html.title-page .blocklist-38 .title { color: rgb(181, 80, 59); }
html.title-page .blocklist-38 .prev { background-color: rgb(181, 80, 59); }
html.title-page .blocklist-38 .prev:hover { background-color: rgb(246, 150, 121); }
html.title-page .blocklist-38 .next { background-color: rgb(181, 80, 59); }
html.title-page .blocklist-38 .next:hover { background-color: rgb(246, 150, 121); }
@media (max-width: 960px) { html.title-page .widget-12 { background-image: linear-gradient(rgb(246, 150, 121), rgb(246, 150, 121)), url("../images/bottomimg3.png"); } }
@media (max-width: 960px) { html.title-page .side-panel-14 .side-panel-close { background-image: url("./2ab8572ec670a8350551da1ca1db005b.svg"); } }
@media (max-width: 960px) { html.title-page .side-panel-14 .side-panel-close { background-color: rgb(246, 150, 121); } }
@media (max-width: 960px) { html.title-page .side-panel-14 .side-panel-button { background-color: rgb(181, 80, 59); } }
@media (max-width: 480px) { html.title-page .block-6 { background-image: linear-gradient(rgba(246, 150, 121, 0.6), rgba(246, 150, 121, 0.6)), linear-gradient(rgba(246, 150, 121, 0.6), rgba(246, 150, 121, 0.6)); } }
html.title-page .side-panel .menu-5 .menu-scroll > ul > li.menu-item > a:hover { background-color: rgb(181, 80, 59); }
html.title-page .side-panel .menu-5 .menu-scroll > ul > li.menu-item > a.hover { background-color: rgb(181, 80, 59); }
html .widget-43 { color: rgb(181, 80, 59); }
html .widget-44 { color: rgb(181, 80, 59); }
html .content-80 h3 { color: rgb(181, 80, 59); }
html .block-3 { background-image: linear-gradient(to right, rgb(181, 80, 59) 20%, rgb(255, 255, 255) 20%); }
html .block-4 { background-color: rgb(255, 255, 255); }
html .widget-3 { color: rgb(181, 80, 59); }
html .site-name-3 .sn-text { color: rgb(181, 80, 59); }
html .menu-5 .menu-scroll > ul ul { background-color: rgb(181, 80, 59); }
html .menu-5 .menu-scroll > ul > li.menu-item > a { color: rgb(181, 80, 59); }
html .menu-5 .menu-scroll > ul > li.menu-item > a:hover { background-color: rgb(181, 80, 59); }
html .menu-5 .menu-scroll > ul > li.menu-item > a.hover { background-color: rgb(181, 80, 59); }
html .menu-5 .menu-scroll > ul > li.more-button > a { background-color: rgb(181, 80, 59); }
html .block-22 { background-image: url("../images/bottomimg.png"), linear-gradient(rgb(246, 150, 121), rgb(181, 80, 59)); }
html .widget-25 { box-shadow: rgba(246, 150, 121, 0.1) 0px -5px 20px; }
html .menu-51 .menu-scroll > ul > li.menu-item > a { color: rgb(181, 80, 59); }
html .menu-51 .menu-scroll > ul > li.menu-item > a:hover { background-color: rgb(246, 150, 121); }
html .up-40 .icon { background-image: url("../images/bd88118d6771538f8d8a95c078cbb088.svg"); }
html .up-40 .icon:hover { background-color: rgb(181, 80, 59); }
html .widget-39 { box-shadow: rgb(181, 80, 59) -1px 0px 0px inset; }
html .editable_block-71 .header { color: rgb(181, 80, 59); }
html .editable_block-71 .title { color: rgb(181, 80, 59); }
html .blocklist-35 .item { box-shadow: rgba(246, 150, 121, 0.1) 0px 5px 20px; }
@media (max-width: 960px) { html .side-panel-14 .side-panel-close { background-image: url("./2ab8572ec670a8350551da1ca1db005b.svg"); } }
@media (max-width: 960px) { html .side-panel-14 .side-panel-close { background-color: rgb(246, 150, 121); } }
@media (max-width: 960px) { html .side-panel-14 .side-panel-button { background-color: rgb(181, 80, 59); } }
html .side-panel .menu-5 .menu-scroll > ul > li.menu-item > a:hover { background-color: rgb(181, 80, 59); }
html .side-panel .menu-5 .menu-scroll > ul > li.menu-item > a.hover { background-color: rgb(181, 80, 59); }
html.title-page .block-35 { background-image: linear-gradient(59deg, rgba(181, 80, 59, 0.6) 0%, rgb(246, 150, 121) 100%); }
