/*** Start css of #_lp_block_61685502[data-block-layout='97251'] .lpc-text-9__text ***/

#_lp_block_61685502[data-block-layout='97251'] .lpc-text-9__text {
	color: rgba(0,0,0,1);
	font-size: 18px;
	text-align: left;
	text-align-last: left;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: Arial, Helvetica, sans-serif;
}

/*** End css of #_lp_block_61685502[data-block-layout='97251'] .lpc-text-9__text ***/


/*** Start css of #_lp_block_61685502[data-block-layout='97251']  ***/

#_lp_block_61685502[data-block-layout='97251']  {
	padding-top: 9px;
	padding-bottom: 9px;
}

/*** End css of #_lp_block_61685502[data-block-layout='97251']  ***/